/*! normalize.css | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}


pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto;
}


a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}


b,
strong {
  font-weight: bolder;
}


code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}


button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}


button,
input { /* 1 */
  overflow: visible;
}


button,
select { /* 1 */
  text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input {
  line-height: normal;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}


[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box;
  outline-offset: -2px; /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}


summary {
  display: list-item;
}


template {
  display: none;
}


.hidden,
[hidden] {
  display: none !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}


/** *** SIMPLE GRID *** (C) ZACH COLE 2016 **/


/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* ==== STYLING ====  */

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc; text-shadow: none;}

html{
  box-sizing:border-box;
}

*,
*::before,
*::after{
  box-sizing:inherit;
}

html{
  font-feature-settings:"kern" 1;
  -webkit-font-kerning:normal;
          font-kerning:normal;
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:100%;
}

body{
  color:#1b1b1b;
  background-color:white;
  overflow-x:hidden;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img{max-width:100%;}
audio,canvas,iframe,img,svg,video {vertical-align: middle;}
.sr-only {border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;white-space: nowrap;width: 1px;}
.sr-only.focusable:active,.sr-only.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;white-space: inherit;width: auto;}
.clearfix::before,.clearfix::after {content: " ";display: table;}
.clearfix::after {clear: both;}
input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus,
button:not([disabled]):focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

iframe:focus,
[href]:focus,
[tabindex]:focus,
[contentEditable=true]:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

/* STRUCTUUR */

.site-name {
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    font-size: 1.56rem;
}

.headerblock {
  background-color: #fedb8b;
}

.intro p {
  font-family:Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  font-size:1.34rem;
  line-height:1.8;
  font-weight:500;
  max-width:88ex;
}

.menu {
    display: block;
    padding-top: 1em;
}


.nav_list {
  margin-left: 0;
  padding-left: 0;
}

.nav_item {
    display: inline;
    padding-right: 1em;
}

.nav_item a:not(:hover) {
    text-decoration: none;
}
.nav_item a {
    color: #000000;
    font-weight: 600;
}

.sidenav{
  margin-bottom:0;
  margin-top:0;
  list-style-type:none;
  padding-left:0;
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.3;
  border-bottom:1px solid #dfe1e2;
}
.sidenav > li{
  margin-bottom:0;
  max-width:unset;
}
.sidenav_item{
  border-top:1px solid #dfe1e2;
}
.sidenav a{
  color:#565c65;
  display:block;
  padding:0.5rem 1rem;
  text-decoration:none;
}
.sidenav a:hover{
  background-color:#f0f0f0;
  color:#005ea2;
  text-decoration:none;
}
.sidenav a:focus{
  outline-offset:0;
}
.sidenav .current{
  position:relative;
  color:#005ea2;
  font-weight:700;
}
.sidenav .current::after{
  background-color:#005ea2;
  border-radius:99rem;
  content:"";
  display:block;
  position:absolute;
  bottom:0.25rem;
  top:0.25rem;
  width:0.25rem;
  left:0.25rem;
}

.sidenav_sublist{
  margin-bottom:0;
  margin-top:0;
  list-style-type:none;
  padding-left:0;
  margin:0;
  font-size:1rem;
}
.sidenav_sublist > li{
  margin-bottom:0;
  max-width:unset;
}

.sidenav_sublist .current::after{
  display:none;
}

.sidenav_sublist a{
  padding-left:2rem;
}

.footer {
  border-top:2px solid #dfe1e2;
}

.socialitem {
  display: inline;
}


.usa-header{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
  z-index:300;
}
.usa-header::after{
  clear:both;
  content:"";
  display:block;
}
.usa-header a{
  border-bottom:none;
}
@media all and (min-width: 64em){
  .usa-header .usa-search{
    float:right;
  }
}
@media all and (min-width: 64em){
  .usa-header [role=search]{
    float:right;
    max-width:calc( 27ch + 3rem );
    width:100%;
  }
}
.usa-header [type=search]{
  min-width:0;
}
@media all and (min-width: 64em){
  .usa-header + .usa-hero{
    border-top:1px solid white;
  }
}
@media all and (min-width: 64em){
  .usa-header + .usa-section,
.usa-header + main{
    border-top:1px solid #dfe1e2;
  }
}

@media all and (max-width: 63.99em){
  .usa-logo{
    flex:1 1 0%;
    font-size:0.93rem;
    line-height:0.9;
    margin-left:1rem;
  }
}
@media all and (min-width: 64em){
  .usa-logo{
    margin-top:2rem;
    margin-bottom:1rem;
    font-size:1.46rem;
    line-height:1.1;
  }
}
.usa-logo a{
  color:#1b1b1b;
  text-decoration:none;
}

.usa-logo__text{
  display:block;
  font-style:normal;
  font-weight:700;
  margin:0;
}

.usa-menu-btn{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  flex:0 1 auto;
  padding-left:0.75rem;
  padding-right:0.75rem;
  background-color:#005ea2;
  color:white;
  font-size:0.87rem;
  height:3rem;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
}
.usa-menu-btn:visited{
  color:#54278f;
}
.usa-menu-btn:hover{
  color:#1a4480;
}
.usa-menu-btn:active{
  color:#162e51;
}
.usa-menu-btn:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-menu-btn:hover, .usa-menu-btn:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  box-shadow:none;
  text-decoration:underline;
}
@media all and (min-width: 64em){
  .usa-menu-btn{
    display:none;
  }
}
.usa-menu-btn:hover{
  background-color:#1a4480;
  color:white;
  text-decoration:none;
}
.usa-menu-btn:active{
  color:white;
}
.usa-menu-btn:visited{
  color:white;
}

.usa-overlay{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
  position:fixed;
  background:black;
  opacity:0;
  transition:opacity 0.2s ease-in-out;
  visibility:hidden;
  z-index:400;
}
.usa-overlay.is-visible{
  opacity:0.2;
  visibility:visible;
}

@media all and (min-width: 64em){
  .usa-header--extended{
    padding-top:0;
  }
  .usa-header--extended .usa-nav__primary-item > .usa-current,
.usa-header--extended .usa-nav__primary-item > .usa-nav__link:hover{
    position:relative;
  }
  .usa-header--extended .usa-nav__primary-item > .usa-current::after,
.usa-header--extended .usa-nav__primary-item > .usa-nav__link:hover::after{
    background-color:#005ea2;
    border-radius:0;
    content:"";
    display:block;
    position:absolute;
    height:0.25rem;
    left:1rem;
    right:1rem;
    bottom:0;
  }
  .usa-header--extended .usa-nav__link[aria-expanded=true]::after,
.usa-header--extended .usa-nav__link[aria-expanded=true]:hover::after{
    display:none;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-logo{
    font-size:2.13rem;
    margin:2rem 0 1.5rem;
    max-width:50%;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-navbar{
    margin-left:auto;
    margin-right:auto;
    max-width:64rem;
    padding-left:1rem;
    padding-right:1rem;
    display:block;
    height:auto;
    overflow:auto;
  }
}
@media all and (min-width: 64em) and (min-width: 64em){
  .usa-header--extended .usa-navbar{
    padding-left:2rem;
    padding-right:2rem;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav{
    border-top:1px solid #dfe1e2;
    padding:0;
    width:100%;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__inner{
    margin-left:auto;
    margin-right:auto;
    max-width:64rem;
    padding-left:1rem;
    padding-right:1rem;
    position:relative;
  }
}
@media all and (min-width: 64em) and (min-width: 64em){
  .usa-header--extended .usa-nav__inner{
    padding-left:2rem;
    padding-right:2rem;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__primary{
    margin-left:-1rem;
  }
  .usa-header--extended .usa-nav__primary::after{
    clear:both;
    content:"";
    display:block;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__link{
    padding-bottom:1rem;
    padding-top:1rem;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__submenu .usa-grid-full{
    padding-left:0.75rem;
  }
}
@media all and (min-width: 64em){
  .usa-header--extended .usa-nav__submenu.usa-megamenu{
    left:0;
    padding-left:2rem;
  }
}

html.usa-js-loading .usa-nav__submenu{
  position:absolute;
  left:-999em;
  right:auto;
}

.usa-navbar{
  height:3rem;
}
@media all and (max-width: 63.99em){
  .usa-navbar{
    align-items:center;
    border-bottom:1px solid #dfe1e2;
    display:flex;
  }
}
@media all and (min-width: 64em){
  .usa-navbar{
    border-bottom:none;
    display:inline-block;
    height:auto;
  }
}

@-webkit-keyframes slidein-left{
  from{
    transform:translateX(15rem);
  }
  to{
    transform:translateX(0);
  }
}

@keyframes slidein-left{
  from{
    transform:translateX(15rem);
  }
  to{
    transform:translateX(0);
  }
}
.usa-nav{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:0.9;
}
@media all and (max-width: 63.99em){
  .usa-nav{
    position:absolute;
    right:0;
    position:absolute;
    bottom:0;
    top:0;
    position:fixed;
    background:white;
    border-right:0;
    display:none;
    flex-direction:column;
    overflow-y:auto;
    padding:1rem;
    width:15rem;
    z-index:500;
  }
  .usa-nav.is-visible{
    -webkit-animation:slidein-left 0.3s ease-in-out;
            animation:slidein-left 0.3s ease-in-out;
    display:flex;
  }
}
@media all and (min-width: 64em){
  .usa-nav{
    float:right;
    position:relative;
  }
}
@media all and (min-width: 64em){
  .usa-nav .usa-search{
    margin-left:1rem;
  }
}
.usa-nav .usa-accordion{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:0.9;
  margin-bottom:0;
  margin-top:0;
  list-style-type:none;
  padding-left:0;
   margin:0;
  padding:0;
  width:100%;
  color:#1b1b1b;
}

.usa-accddadordion{
  margin-bottom:0;
  margin-top:0;
  list-style-type:none;
  padding-left:0;
  color:#1b1b1b;
  margin:0;
  padding:0;
  width:100%;
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
}

@media all and (max-width: 63.99em){
  .usa-nav__primary{
    margin-bottom:0;
    margin-top:0;
    list-style-type:none;
    padding-left:0;
    margin-top:1.5rem;
    order:2;
  }
  .usa-nav__primary > li{
    margin-bottom:0;
    max-width:unset;
  }
  .usa-nav__primary-item{
    border-top:1px solid #dfe1e2;
  }
  .usa-nav__primary a:not(.usa-button){
    color:#565c65;
    display:block;
    padding:0.5rem 1rem;
    text-decoration:none;
  }
  .usa-nav__primary a:not(.usa-button):hover{
    background-color:#f0f0f0;
    color:#005ea2;
    text-decoration:none;
  }
  .usa-nav__primary a:not(.usa-button):focus{
    outline-offset:0;
  }
  .usa-nav__primary .usa-current{
    position:relative;
    color:#005ea2;
    font-weight:700;
  }
  .usa-nav__primary .usa-current::after{
    background-color:#005ea2;
    border-radius:99rem;
    content:"";
    display:block;
    position:absolute;
    bottom:0.25rem;
    top:0.25rem;
    width:0.25rem;
    left:0.25rem;
  }
}
@media all and (max-width: 63.99em) and (min-width: 40em){
  .usa-nav__primary .usa-current{
    position:relative;
  }
  .usa-nav__primary .usa-current::after{
    background-color:#005ea2;
    border-radius:99rem;
    content:"";
    display:block;
    position:absolute;
    bottom:0.25rem;
    top:0.25rem;
    width:0.25rem;
    left:0;
  }
}
@media all and (max-width: 63.99em){
  .usa-nav__primary a{
    padding-bottom:0.75rem;
    padding-top:0.75rem;
  }
}
@media all and (min-width: 64em){
  .usa-nav__primary{
    display:flex;
  }
}
.usa-nav__primary .usa-nav__primary-item a{
  text-decoration:none;
}
.usa-nav__primary > .usa-nav__primary-item{
  line-height:1.1;
}
@media all and (min-width: 64em){
  .usa-nav__primary > .usa-nav__primary-item{
    font-size:0.93rem;
    line-height:0.9;
  }
}
@media all and (min-width: 64em){
  .usa-nav__primary > .usa-nav__primary-item > a{
    line-height:0.9;
    padding:1rem;
    color:#565c65;
    display:block;
    font-weight:700;
  }
  .usa-nav__primary > .usa-nav__primary-item > a:hover{
    color:#005ea2;
  }
}
@media all and (min-width: 64em){
  .usa-nav__primary a{
    padding-bottom:0.5rem;
    padding-top:0.5rem;
  }
}
.usa-nav__primary button{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  color:#565c65;
  font-weight:normal;
  line-height:1.1;
  padding:0.75rem 1rem;
  text-decoration:none;
}
.usa-nav__primary button:visited{
  color:#54278f;
}
.usa-nav__primary button:hover{
  color:#1a4480;
}
.usa-nav__primary button:active{
  color:#162e51;
}
.usa-nav__primary button:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-nav__primary button:hover, .usa-nav__primary button:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  box-shadow:none;
  text-decoration:underline;
}
@media all and (min-width: 64em){
  .usa-nav__primary button{
    line-height:0.9;
    padding:1rem;
    font-size:0.93rem;
    font-weight:700;
  }
}
.usa-nav__primary button:hover{
  color:#005ea2;
  background-color:#f0f0f0;
  text-decoration:none;
}
@media all and (min-width: 64em){
  .usa-nav__primary button:hover{
    background-color:transparent;
  }
}
.usa-nav__primary button[aria-expanded=false]{
  background-image:url("../img/usa-icons/add.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-position:right 0 center;
  background-size:1.25rem;
}
@media all and (min-width: 64em){
  .usa-nav__primary button[aria-expanded=false]{
    background-image:url("../img/usa-icons/expand_more.svg"), linear-gradient(transparent, transparent);
    background-repeat:no-repeat;
    background-size:1rem;
    background-position:right 0.75rem top 53%;
  }
}
@media all and (min-width: 64em){
  .usa-nav__primary button[aria-expanded=false]:hover{
    background-image:url("../img/usa-icons-bg/expand_more--blue-warm-70v.svg"), linear-gradient(transparent, transparent);
    background-repeat:no-repeat;
  }
}
.usa-nav__primary button[aria-expanded=true]{
  background-image:url("../img/usa-icons/remove.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-position:right 0 center;
  background-size:1.25rem;
}
@media all and (min-width: 64em){
  .usa-nav__primary button[aria-expanded=true]{
    background-image:url("../img/usa-icons-bg/expand_less--white.svg"), linear-gradient(transparent, transparent);
    background-repeat:no-repeat;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    background-size:1rem;
    background-color:#162e51;
    background-position:right 0.75rem top 53%;
    color:white;
  }
}
@media all and (min-width: 64em){
  .usa-nav__primary .usa-accordion__button span{
    margin-right:0;
    padding-right:1rem;
  }
}

.usa-nav__secondary{
  margin-top:1rem;
}
@media all and (min-width: 64em){
  .usa-nav__secondary{
    flex-direction:column;
    align-items:flex-end;
    bottom:4rem;
    display:flex;
    font-size:0.93rem;
    margin-top:0.5rem;
    min-width:calc( 27ch + 3rem );
    position:absolute;
    right:2rem;
  }
}
.usa-nav__secondary .usa-search{
  margin-top:1rem;
  width:100%;
}
@media all and (min-width: 64em){
  .usa-nav__secondary .usa-search{
    margin-left:0;
    margin-top:0.5rem;
  }
}

.usa-nav__secondary-links{
  margin-bottom:0;
  margin-top:0;
  list-style-type:none;
  padding-left:0;
  line-height:1.3;
  margin-top:1.5rem;
}
@media all and (min-width: 64em){
  .usa-nav__secondary-links{
    float:right;
    line-height:0.9;
    margin-bottom:0.25rem;
    margin-top:0;
  }
}
@media all and (min-width: 64em){
  .usa-nav__secondary-links .usa-nav__secondary-item{
    display:inline;
    padding-left:0.25rem;
  }
  .usa-nav__secondary-links .usa-nav__secondary-item + .usa-nav__secondary-item::before{
    color:#dfe1e2;
    content:"|";
    padding-right:0.25rem;
  }
}
.usa-nav__secondary-links a{
  color:#71767a;
  display:inline-block;
  font-size:0.93rem;
  text-decoration:none;
}
.usa-nav__secondary-links a:hover{
  color:#005ea2;
  text-decoration:underline;
}

.usa-nav__close{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  height:3rem;
  width:3rem;
  color:currentColor;
  flex:none;
  float:right;
  margin:-0.75rem -1rem 1rem auto;
  text-align:center;
}
.usa-nav__close:visited{
  color:#54278f;
}
.usa-nav__close:hover{
  color:#1a4480;
}
.usa-nav__close:active{
  color:#162e51;
}
.usa-nav__close:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-nav__close:hover, .usa-nav__close:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  box-shadow:none;
  text-decoration:underline;
}
.usa-nav__close:hover{
  color:currentColor;
  text-decoration:none;
}
@media all and (min-width: 64em){
  .usa-nav__close{
    display:none;
  }
}
.usa-nav__close img{
  width:1.5rem;
}
.usa-nav__close + *{
  clear:both;
}

.usa-js-mobile-nav--active{
  overflow:hidden;
}

.usa-search{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
  position:relative;
}
.usa-search::after{
  clear:both;
  content:"";
  display:block;
}
.usa-search[role=search], .usa-search[role=search] > div,
.usa-search [role=search]{
  display:flex;
}
.usa-search [type=submit]{
  background-image:url("../img/usa-icons-bg/search--white.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:1.5rem;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  height:2rem;
  margin:0;
  padding:0;
  width:3rem;
}
@media all and (min-width: 30em){
  .usa-search [type=submit]{
    padding-left:1rem;
    padding-right:1rem;
    background-image:none;
    width:auto;
  }
}


@media all and (min-width: 30em){
  .usa-search--small [type=submit],
.usa-search--small .usa-search__submit{
    background-image:url("../img/usa-icons-bg/search--white.svg"), linear-gradient(transparent, transparent);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:1.5rem;
    width:3rem;
  }
}

input[type=search]{
  box-sizing:border-box;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

[type=search],
.usa-search__input{
  padding-bottom:0;
  padding-top:0;
  border-bottom-right-radius:0;
  border-right:none;
  border-top-right-radius:0;
  box-sizing:border-box;
  float:left;
  font-size:1rem;
  height:2rem;
  margin:0;
}

.usa-search__submit-text{
  position:absolute;
  left:-999em;
  right:auto;
}
@media all and (min-width: 30em){
  .usa-search__submit-text{
    position:static;
  }
}




/* TYPOGRAPHY */
@font-face{
  font-family:Roboto Mono Web;
  font-style:normal;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-300.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-300.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-300.ttf) format("truetype");
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:normal;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-regular.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-regular.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-regular.ttf) format("truetype");
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:normal;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-700.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-700.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-700.ttf) format("truetype");
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:italic;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-300italic.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-300italic.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-300italic.ttf) format("truetype");
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:italic;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-italic.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-italic.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-italic.ttf) format("truetype");
}
@font-face{
  font-family:Roboto Mono Web;
  font-style:italic;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/roboto-mono/roboto-mono-v5-latin-700italic.woff2) format("woff2"), url(../fonts/roboto-mono/roboto-mono-v5-latin-700italic.woff) format("woff"), url(../fonts/roboto-mono/roboto-mono-v5-latin-700italic.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:normal;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-light-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-light-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:normal;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-regular-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:normal;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-bold-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-bold-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:italic;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:italic;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-italic-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-italic-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-italic-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Source Sans Pro Web;
  font-style:italic;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/source-sans-pro/sourcesanspro-bolditalic-webfont.woff2) format("woff2"), url(../fonts/source-sans-pro/sourcesanspro-bolditalic-webfont.woff) format("woff"), url(../fonts/source-sans-pro/sourcesanspro-bolditalic-webfont.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:normal;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-Light.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-Light.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-Light.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:normal;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-Regular.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-Regular.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-Regular.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:normal;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-Bold.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-Bold.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-Bold.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:italic;
  font-weight:300;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-LightItalic.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-LightItalic.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-LightItalic.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:italic;
  font-weight:400;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-Italic.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-Italic.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-Italic.ttf) format("truetype");
}
@font-face{
  font-family:Merriweather Web;
  font-style:italic;
  font-weight:700;
  font-display:fallback;
  src:url(../fonts/merriweather/Latin-Merriweather-BoldItalic.woff2) format("woff2"), url(../fonts/merriweather/Latin-Merriweather-BoldItalic.woff) format("woff"), url(../fonts/merriweather/Latin-Merriweather-BoldItalic.ttf) format("truetype");
}


h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.375rem;}
h4 {font-size: 1.125rem;}
h5 {font-size: 1rem;}
h6 {font-size: 0.875rem;}


h1{font-family:Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;font-size:2.44rem;line-height:1.2;font-weight:700;}
h2{font-family:Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;font-size:1.95rem;line-height:1.2;font-weight:700;}
h3{font-family:Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;font-size:1.34rem;line-height:1.2;font-weight:700;}
h4{font-family:Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;font-size:0.98rem;line-height:1.2;font-weight:700;}
h5{font-family:Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;font-size:0.91rem;line-height:1.2;font-weight:700;}
h6{font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;font-size:0.87rem;line-height:1.1;font-weight:normal;letter-spacing:0.025em;text-transform:uppercase;}


p {line-height: 1.5;max-width:68ex;font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;font-size:1.06rem;}
a {color:#005ea2;text-decoration:underline;}
a:visited{color:#54278f;}
a:hover{color:#1a4480;}
a:active{color:#162e51;}
a:focus{outline:0.25rem solid #2491ff;outline-offset:0;}
.external::after{
  background-image:url("../img/usa-icons-bg/launch--blue-60v.svg");
  background-position:50% 60%;
  background-repeat:no-repeat;
  background-size:100%;
  content:"";
  display:inline;
  margin-left:2px;
  padding-left:0.65em;
}
.external:hover::after{
  background-image:url("../img/usa-icons-bg/launch--blue-70v.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
}

.external-alt::after{
  background-image:url("../img/usa-icons-bg/launch--gray-5.svg");
  background-position:50% 60%;
  background-repeat:no-repeat;
  background-size:100%;
  content:"";
  display:inline;
  margin-left:2px;
  padding-left:0.65em;
}
.external-alt:hover::after{
  background-image:url("../img/usa-icons-bg/launch--white.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
}

.font-light {font-weight: 300;}
.font-regular {font-weight: 400;}
.font-heavy {font-weight: 700;}

ol[class], ul[class] {
    list-style: none;
}

/* POSITIONING */

.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;margin-left: auto;margin-right: auto;}
.align-center {align-items: center;}


/* === PRINT === */

@media print {
  *,*::before,*::after {background: #fff !important;color: #000 !important;box-shadow: none !important; text-shadow: none !important;}
  a,a:visited {text-decoration: underline;}
  a[href]::after {content: " (" attr(href) ")";}
  abbr[title]::after {content: " (" attr(title) ")";}
  a[href^="#"]::after,a[href^="javascript:"]::after {content: "";}
  pre {white-space: pre-wrap !important;}
  pre,blockquote {border: 1px solid #999;page-break-inside: avoid;}
  thead {display: table-header-group;}
  tr,img {page-break-inside: avoid;}
  p,h2,h3 {orphans: 3;widows: 3;}
  h2,h3 {page-break-after: avoid;}
}